.logo-font{ 
  font-family: "Kosugi Maru", sans-serif;
}
.object-fit-cover{
  object-fit: cover;
}
.object-fit-contain{
  object-fit: contain;
}
.card-hover:hover{
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}
.list-style-none{
  list-style-type: none;
}