.logo-font{ 
  font-family: "Kosugi Maru", sans-serif;
}
.object-fit-cover{
  object-fit: cover;
}
.object-fit-contain{
  object-fit: contain;
}
.card-hover:hover{
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}
.list-style-none{
  list-style-type: none;
}

.icon-w-sm{
  width: 1.5rem;
}
.icon-w-md{
  width: 2rem;
}
.icon-w-lg{
  width: 3rem;
}

.img-h-sm{
  height: 200px;
}
.img-h-md{
  height: 300px;
}
.img-h-lg{
  height: 400px;
}
.img-h-xl{
  height: 500px;
}

.top-30{
  top: 30%;
}
.start-80{
  left: 80%;
}
