.hero{
  height: 500px;
  background-size: cover;
  &.eventA{
    background-image: url('../src/assets/images/sunPlants.jpg');
    background-position: 50% 80%;
  }
  &.eventB{
    background-image: url('../src/assets/images/twoSmallSucclents.jpg');
    background-position: 50% 50%;
  }
  &.eventC{
    background-image: url('../src/assets/images/succlentsLarge.jpg');
    background-position: 50% top;
  }
}

.bounce{
  animation: 1s ease-in-out infinite bouncing;
}
@keyframes bouncing{
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.background-about{
  background-image: url('../src/assets/images/aloneSucclent.jpg');
  background-size: contain;
  height: 150px;
  background-position: center bottom;
  background-repeat: no-repeat;
}
@media (min-width: 576px) {
  .background-about{ 
    height: 300px;
  } 
}