@import '../../../../node_modules/swiper/modules/navigation/navigation.scss';
@import '../../../../node_modules/swiper/modules/pagination/pagination.scss';

.swiper-button-prev, .swiper-button-next{
  color: $primary;
  padding: 16px;
}
.swiper-pagination{
  text-align: right;
}
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal{
  bottom: 20px;
  left: -1rem;
}
.swiper-pagination-bullet{
  width: 1rem;
  height: 1rem;
}
.swiper-pagination-bullet-active{
  background: $primary;
}
.swipper-hint{
  position: absolute;
  z-index: 10;
  top: 100%;
  left: 50%;
  transform: translate3d(-50%, -120%, 0);
}
